body {
    margin: 0;
}

.navbar-custom {
    background-color: rgb(135, 151, 202) !important;
    height: 40px;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    color: rgba(253, 253, 253, 0.726);
    margin-right: 20px;
}
@media (max-width: 575px) { 
    .navbar-custom {
        background-color: rgb(135, 151, 202) !important;
        height: 50px;
    }
 }

.navbar-custom .nav-item:hover .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-toggler {
    border: none !important;
}

.daftar {
    margin-top: 100px;
}

.card-title {
    font-size: 20pt;
    color: #424345;
    text-align: center;
    font-family: Helvetica;
}
.col-3 a:hover {
    border-color: black;
}

.img-fluid {
    width: 90px;
    height: 90px;
}